.dropbox {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
.element {
  text-align: center;
  border: 1px dashed #e2e2e2;
  margin: auto;
  padding: 15px 20px;
  color: #969696;
  font-size: 16px;
  border-radius: 12px;
  background-color: #f3f3f3;
  cursor: pointer;
}
.dropbox .element .link {
  color: #247bb1;
}
